<div class="container">
  <h1>Contact the developer</h1>
  <%= form_for @message, url: create_message_url do |f| %>
    <%= notice %>
    <%= @message.errors.full_messages.join(', ') %>
    <%= f.text_field :name, placeholder: 'Your Name' %>
    <%= f.email_field :email, placeholder: 'Your Email Address' %>
    <%= f.text_area :body, placeholder: 'Your Message', class: 'materialize-textarea' %>
    <%= f.submit 'Send', class: 'btn' %>
  <% end %>
</div>
